<!-- You got an error, son!<br/>
Make sure you are requesting the correct format for you data -->

<!DOCTYPE html>
<html>
<head>

<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <meta charset="utf-8">

  <script src="javascripts/app.js">
  </script>
  <title>Contact App</title>
</head>
<body class="content">
  <header>
    <div class="container">
      <h1>Contact App</h1>
    </div>
  </header>
  <div class="container">
    <div class="row">
       <div class="col-sm-6">
        <form class="form-horizontal" id="new_contact">
          <div class="form-group">
            <label for="contact_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" id="contact_name" class="form-control" placeholder="Enter name">
            </div>
          </div>
          <div class="form-group">
            <label for="contact_email" class="col-sm-2 control-label">Email Address</label>
            <div class="col-sm-10">
              <input type="email" id="contact_email" class="form-control" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label for="contact_telephone" class="col-sm-2 control-label" >Phone Number</label>
            <div class="col-sm-10">
              <input type="tel"  id="contact_number" class="form-control" placeholder="Enter phone">
            </div>
          </div>
          <div class="form-group">
            <label for="contact_img_url" class="col-sm-2 control-label">Image Url</label>
            <div class="col-sm-10">
              <input type="text" id="contact_img_url" class="form-control" placeholder="Enter image url">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-whole">ADD CONTACT</button>
            </div>
          </div>
        </form>
      </div>
      <div id="contacts" class="col-sm-offset-1 col-sm-5">

      </div>
  </div>
  

  </div>
</body>
</html>